h2{
    font-family: 'Bree Serif', serif;
    font-size: 1.5em;
    width: 100%;
}

.projects{
    display: flex;
    font-family: 'Poiret One', cursive;
    height: 80%;
    justify-content: space-evenly;
    margin: auto;
    overflow: auto;
    width: 90%;
    a{
        border: 1px solid #BFBFBF;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 5px;
        width: 33%;
        .project-description{
            margin: 10px;
            font-size: 1.2em;
            height: 20%;
        }
        img{
            display: block;
            margin: 10px auto;
            width: 80%;
        }
    }
    a:hover{
        // background-color: #E27D60;
        // border: 2px solid red;
        img{
            width: 95%;
        }
    }
}