h2{
    font-family: 'Bree Serif', serif;
    font-size: 1.5em;
    margin-bottom: 0px;
    width: 100%;
}

.projects{
    display: flex;
    font-family: 'Poiret One', cursive;
    height: 80%;
    justify-content: space-evenly;
    margin: 0px auto;
    overflow: auto;
    width: 90%;

    a{
        border: 1px solid #BFBFBF;
        border-radius: 10px;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px 20px;
        padding: 5px;
        text-decoration: none;
        transition: transform 300ms ease-in-out;
        width: 33%;
        .project-description{
            height: 100px;
            margin: 10px auto 10px;
            font-size: 1.2em;
        }
        figure{
            img{
                display: block;
                margin: 10px auto;
                max-width: 100%;
                min-width: 150px;
            }
        }
    }
    a:hover{
        -moz-box-shadow:    3px 3px 5px 6px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow:         3px 3px 5px 6px #ccc;
        opacity: 5;
        transform: translate(-5px, -5px);
    }
}