.name{
    background-image: url('../../images/main-page.jpg');
    background-size: cover;
    display: flex;
    height: 95%;
    font-family: 'Concert One', cursive;
    justify-content: center;
    width: 100%;

    .main-left{
        color: lightgrey;
        font-size: 2em;
    }
}