.name{
    display: flex;
    flex-direction: column;
    font-family: 'Concert One', cursive;
    #intro{
        font-size: 2em;
        margin: 0px;
        p{
            margin: 0px;
        }
    }
    #traits{
        font-family: 'Poiret One', cursive;
        font-size: 1.3em;
        padding-left: 10px;
        p{
            margin: 5px 0px;
        }
        #tag-line{
            color: red;
            font-weight: bold;
        }
    }
}