.intro{
    color: #c1432e;
    display: flex;
    flex-direction: column;
    // font-family: 'Nunito', sans-serif;
    font-family: 'Muli', sans-serif;
    font-size: 3em;
    height: 50vh;
    margin: 0px auto;
    padding-top: 30px;
    width: 90%;
    p{
        margin: 0px 10px;
    }
}