.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    h2, h3{
        font-family: 'Bree Serif', serif;
    }
    p{
        padding: 1rem;
        font-size: 1.2em;
        font-family: 'Poiret One', cursive;
    }
    div{
        pre{
            margin: 10px auto;
            width: 85%;
        }
    }
}