.footer-wrapper{
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    margin: 0px auto 0px;
    ul{
        border: solid red 2px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0px;
        li{
            border: solid 2px green;
            margin: 0px 15px;
            img{
                height: 30px;
            }
        }
    }
}