.footer-wrapper{
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
    margin: 0px auto 0px;
    ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0px;
        li{
            margin: 0px 15px;
            img{
                height: 25px;
            }
        }
    }
}