*{
    box-sizing: border-box;
}
html, body{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
}

main{
    display: grid;
    font-family: 'Concert One', cursive;
    font-weight: bold;
    grid-template-columns: 20% 20% 10% 10% 20% 20%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    height: 85%;
}