*{
    box-sizing: border-box;
}
html,body{
    background-color: #EDEAE5;
    border: 4px solid black;
    height: 100%;
    margin: 0px auto;
}
.content-wrapper{
    height: 100%;
}
header{
    height: 10vh;
    margin: 0px auto;
    padding-top: 5px;
    width: 90vw;
}

main{
    display: flex;
    height: 80vh;
    justify-content: center;
    margin: 0px auto;
    overflow: auto;
    width: 90vw;
}

footer{
    height: 8vh;
    margin: 0px auto;
    width: 90vw;
}