*{
    box-sizing: border-box;
}
html,body{
    border: 4px solid black;
    height: 100%;
    margin: 0px auto;
}

header{
    height: 10vh;
    margin: 0px auto;
    width: 90vw;
}

main{
    display: flex;
    height: 80vh;
    justify-content: center;
    margin: 0px auto;
    overflow: auto;
    width: 90vw;
}

/* footer{
    bottom: 0px;
    border-top: solid black 1px;
    height: 10%;
    margin: 0px auto;
    position: fixed;
    width: 90vw;
} */