.footer-wrapper{
    bottom: 0px;
    position: fixed;
    width: 100%;
    footer{
        border-top: solid 1px black;
        display: flex;
        justify-content: center;
        margin: 0px auto;
        width: 80%;
        ul{
            display: flex;
            list-style-type: none;
            li{
                height: 30px;
                margin: 0px 10px;
                img{
                    height: 100%;
                }
            }
        }
    }
}