footer{
    display:flex;
    justify-content: flex-end;
    ul{
        display: flex;
        list-style-type: none;
        li{
            height: 30px;
            margin: 0px 10px;
            img{
                height: 100%;
            }
        }
    }
}