nav{
    border-bottom: solid 1px black;
    .links{
        align-items: flex-end;
        display: flex;
        font-family: 'Poiret One', cursive;
        justify-content: space-between;
        margin: 0px auto 10px;
        a{
            color: black;
            text-decoration: none;
        }
        #my-name{
            text-emphasis: bold;
            font-size: 1.8em;
            font-family: 'Staatliches', cursive;
        }
        #individual-link-about{
            font-size: 1.5em;
        }
        #individual-link-projects{
            font-size: 1.5em;
        }
    }
}