nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    #name{
        margin: 5px 40px;
    }
    a{
        color: black;
        // font-family: 'Poiret One', cursive;
        font-family: 'Cabin Condensed', sans-serif;
        font-size: 1.5em;
        transition: all 0.5s;
        text-decoration: none;
    }
    .links{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
 
        #individual-link-about{
            margin: 5px 40px;
        }
    }
    a:hover{
        font-size: 1.6em;
        font-weight: bold; 
    }
}